body{
    counter-reset: page;
}
@font-face {
    font-family: Atkinson;
    src: url(../assets/font/Atkinson-Hyperlegible-Regular-102.ttf);
}
body.dys{
    font-family: Atkinson, Arial, sans-serif !important;
}

.mdml-logo{
    width: min(100px, 20vw);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

html:not([data-scroll='0']) .mdml-logo{
    width: 50px;
    position: inherit;
}
