body{
    counter-reset: page;
}
@font-face {
    font-family: Atkinson;
    src: url(../assets/font/Atkinson-Hyperlegible-Regular-102.ttf);
}
body.dys{
    font-family: Atkinson, Arial, sans-serif !important;
}

#logo-big{
    position: absolute;
    transform: translateY(-100px);
    z-index: 2000;
    height: 100px;
    width: auto;
}