.create-event-button{
    position: fixed;
    bottom: 5rem;
    right: 12vw;
    font-size: 2rem;
    
    &-link{
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
        background-color: $white;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        border-radius: 50%;    
    }
    &-text{
        font-size: 1rem;
        color: $dark;
        &-box{
            position: absolute;
            left: -50%;
            top: -50%;
            animation: rotate 10s linear infinite;
            border-radius: 50%;
            background-color: $light;
            z-index: -1;
            width: 100px;
            height: 100px;
        }
    }
    @media (max-width: map.get($grid-breakpoints, 'lg')) {
        bottom: 4rem;
        right: 50%;
        transform: translateX(50%);
        &-link{
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
        }
        &-text{
            &-box{
                width: 75px;
                height: 75px;
                top: -67%;
                left: -67%;
            }
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}