.create-event-button{
    position: fixed;
    bottom: 5rem;
    right: 12vw;
    font-size: 2rem;
    background-color: $white;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    &-link{
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
    }
    &-text{
        font-size: 1rem;
        color: $primary;
        &-box{
            position: absolute;
            left: -50%;
            top: -50%;
            animation: rotate 10s linear infinite;
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}