.mdml-form{
    &-nav{
        @media (min-width: map.get($grid-breakpoints, "lg")){
            position: fixed;
            top: 15%;
            right: 25%;
        }
    }
}

// @keyframes flip-off{
//     0%{
//         transform-origin: left;
//         transform: rotateY(0deg);
//         opacity: 1;
//     }
//     50%{
//         transform-origin: left;
//         transform: rotateY(135deg);
//         opacity: 1;
//     }
//     75%{
//         transform-origin: left;
//         transform: rotateY(180deg);
//         opacity: 1;
//     }
//     100%{
//         transform-origin: left;
//         transform: rotateY(180deg);
//         opacity: 0;
//     }
// }