.single-event-hero{
    background-image: url('/assets/logo/logo_mdml_white_as_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    max-width: 65vh;
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: min(4vw, 1rem);   
    & * {
        margin: auto 0;
    }
    &-icon{
        width: min(40px, 100%);
        max-height: min(100%, 40px);
    }
}