.mdml-page{
    position: relative;
    padding: 10rem min(5vw, 50px);
    min-height: 75vh;
    margin: 5rem 0;
    overflow: hidden;
    max-width: 600px;
    &::before{
        content: "";
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../assets/images/entetepage.svg');
        display: block;
        width: 12rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 75%;
    }
    &::after{
        content: counter(page);
        counter-increment: page;
        position: absolute;
        width: 2rem;
        transform: translateX(-50%);
        left: 50%;
        bottom: 2rem;
    }
    &-decoration{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 50%;
    }
    &-illustration{
        margin: 3rem auto;
        display: block;
        &-h{
            width: min(50vw, 300px);
            max-height: min(25vh, 300px);
        }
        &-v{
            height: min(25vh, 300px);
            max-width: min(50vw, 300px);
        }
        &-fh{
            width: min(600px, 80vw);
        }
    }
    & .mdml-page-illustration{
        &-h{
            width: min(25vw, 150px);
            max-height: min(25vh, 150px);
        }
        &-v{
            height: min(12vh, 150px);
            max-width: min(25vw, 150px);
        }
        &-fh{
            width: min(300px, 50vw);
        } 
    }
    & .wp-block-image, .wp-block-eedee-block-gutenslider{
        position: relative;
        margin: 3rem 0;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            height: 3rem;
            width: 3rem;
            transform: rotate(45deg) translateX(-75%);
            opacity: 97%;
            z-index: 1000;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $white;
            height: 3rem;
            width: 3rem;
            transform: rotate(45deg) translateX(75%);
            opacity: 97%;
            z-index: 1000;
        }
        &-full img{
            min-height: 50vh;
            width: auto;
            object-fit: cover;
        }
    }
    & .wp-block-embed.is-type-video iframe{
        width: calc( 100% + min(10vw, 100px) );
        margin: 0 max(-5vw, -50px);
        aspect-ratio: 16 / 9;
        max-width: none;
    }
}
