//mdml colors
$mdml-red: #FF0000;


// mdml blue variants
$mdml-blue-light: #F5F5FF;
$mdml-blue-100: #CCCCFF;
$mdml-blue-200: #9999FF;
$mdml-blue-300: #6666FF;
$mdml-blue-400: #3333FF;
$mdml-blue: #0000FF;
$mdml-blue-600: #0000CC;
$mdml-blue-700: #000099;
$mdml-blue-800: #000066;
$mdml-blue-dark: #000033;
$mdml-blue-darker: #000022;
$mdml-blue-darkest: #000011;


// Color system

// scss-docs-start gray-color-variables
// $black:    #fff !default;
$black: $mdml-blue-light;
$gray-900: #f8f9fa !default;
$gray-800: #e9ecef !default;
$gray-700: #dee2e6 !default;
$gray-600: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-400: #6c757d !default;
$gray-300: #495057 !default;
$gray-200: #343a40 !default;
$gray-100: #212529 !default;
$white:    $mdml-blue-darkest !default;
// $white: $mdml-blue-dark;


//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Regular.ttf');
}
$font-family-sans-serif: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// mdml-color-variables
$primary:       $mdml-blue;
$secondary:     $mdml-red ;
// $light:         $mdml-blue-dark !default;
$light:         $mdml-blue-darker;
$dark:          $mdml-blue-light;

// navbar-mdml-variables
$navbar-light-color:                rgba($mdml-blue-200, .55);
$navbar-light-hover-color:          rgba($mdml-blue-200, .7);
$navbar-light-active-color:         rgba($mdml-blue-200, .9);
$navbar-light-disabled-color:       rgba($mdml-blue-200, .3);
$navbar-light-toggler-border-color: rgba($mdml-blue-200, .1);
// $navbar-light-color:               $mdml-blue-300;
// $navbar-light-hover-color:         $mdml-blue-400;
// $navbar-light-active-color:         rgba($mdml-blue, .1) !default;
// $navbar-light-disabled-color:       rgba($mdml-blue, .7) !default;
// $navbar-light-toggler-border-color: rgba($mdml-blue, .9) !default;

// dropdown-mdml-variables
$dropdown-link-color:               rgba($mdml-blue-200, .55);
$dropdown-link-hover-color:         rgba($mdml-blue-200, .7);
$dropdown-link-hover-bg:            rgba($mdml-blue-200, .1);